body {
	padding-bottom: 20px;
	background-color: white;
}

.canvas-stage {
	background-color: lightgray;
	padding-top: 15px;
	padding-bottom: 15px;
}

#result,
#preview {
	width: 100%;
}

.tab-content {
	border-style: solid;
	border-width: thin;
	border-color: lightgray;
	margin-bottom: 10px;
}

.nav-tabs{
	border-bottom: none !important;
}